<div class="container">
  <button
    style="margin-right: 56.5%; margin-bottom: 15px"
    mat-raised-button
    color="primary"
    (click)="create()"
  >
    Criar
  </button>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="modelo">
      <th mat-header-cell *matHeaderCellDef>Modelo</th>
      <td mat-cell *matCellDef="let carro">{{ carro.modelo }}</td>
    </ng-container>

    <ng-container matColumnDef="marca">
      <th mat-header-cell *matHeaderCellDef>Marca</th>
      <td mat-cell *matCellDef="let carro">{{ carro.marca }}</td>
    </ng-container>

    <ng-container matColumnDef="ano">
      <th mat-header-cell *matHeaderCellDef>Ano</th>
      <td mat-cell *matCellDef="let carro">{{ carro.ano }}</td>
    </ng-container>

    <ng-container matColumnDef="placa">
      <th mat-header-cell *matHeaderCellDef>Placa</th>
      <td mat-cell *matCellDef="let carro">{{ carro.placa }}</td>
    </ng-container>

    <ng-container matColumnDef="chassi">
      <th mat-header-cell *matHeaderCellDef>Chassi</th>
      <td mat-cell *matCellDef="let carro">{{ carro.chassi }}</td>
    </ng-container>

    <ng-container matColumnDef="renavam">
      <th mat-header-cell *matHeaderCellDef>Renavam</th>
      <td mat-cell *matCellDef="let carro">{{ carro.renavam }}</td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef>Editar</th>
      <td mat-cell *matCellDef="let carro">
        <mat-icon id="edit-button" color="primary" (click)="edit(carro.id)"
          >edit</mat-icon
        >
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef>Deletar</th>
      <td mat-cell *matCellDef="let carro">
        <mat-icon (click)="delete(carro.id)" color="warn">delete</mat-icon>
      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
  <div *ngIf="dataSource.data.length === 0">
    <span>Sem registros disponíveis</span>
  </div>
</div>
